body {
  /* proposed background colour so that we do not burn bwana */
  background-color: rgb(247, 227, 201);
  font-family: "Sansita", sans-serif;
  font-weight: 400;
  font-style: normal;
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  color: black;
  min-height: auto;
  display: grid;
  flex-direction: column;
}

.contact-me {
  background-color: rgb(203, 143, 68);
  width: 300px;
  margin: auto;

}

/* NAVBAR */
.navBar {
  background-color: #FFFFFF;
  height: 60px;
  width: 100%;
  padding: 5px;
  display: flex;
  justify-content: space-evenly;
  position: relative;
  top: 0;
  left: 0;
}

.navLinks {
  display: flex;
}

.link {
  margin: 10px;
  padding: 10px;
}


.link:hover {
  transform: scale(1.1);
}

.big-box {
  width: 10vw;
  max-width: 100vw;
  
}

.big-box h6 {
  margin-top: -30vh;
  margin-bottom: 2vh;
  font-size: 3.4vw;
}

.link:active {
  transform: scale(1);
}

.big-box img {
  width: 100vw;
  height: 30vh;
}

.head-section {
  display: flex;
  width: 100vw;
}

.about-section {
  display: flex;
  width: 100vw;
  
  
}

.portfolio-image {
  width: 15vw; 
  max-width: 100%;
  height: auto; /* Ensures image aspect ratio is maintained */
  margin-top: 2vh;
  margin-left: 1vw;
  
}

.portfolio-image img {
    display: block; 
    width: 100%; /* Makes the image fill the container */
    height: auto; /* Ensures image aspect ratio is maintained */
    border-radius: 36px; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow */
}

.portfolio-words {
  display: flex;
  flex-direction: column;
  margin-left: 5vw;
  font-family: 'JetBrains Mono', monospace;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .about-section {
    flex-direction: column-reverse;
    transition: all 1.5s ease-in-out; /* transition effect. doesnt work as intended*/
  }

  .portfolio-image {
    width: 75vw; 
    max-width: 100%;
    margin-left: 10vw;
   /* Center the image */
  }

  .portfolio-words {
    margin: 0 auto;
    /* Center the text */
    margin-top: 20px;
    /* Add some space between image and text */
    margin-bottom: 20px;
    margin-left: 0;
    /* Reset the left margin */
    text-align: center;
    /* Center the text */
    flex-direction: column;
    /* Change to column layout */
    align-items: center;
    /* Center items horizontally */
  }
}


.recruiter-buttons {
  display: flex;
  flex-direction: row;
  margin: auto;

}

.hire-me-button {
  width: 130px;
  height: 50px;
  background: linear-gradient(89.94deg, rgba(248, 203, 165, 0.46) 49.81%, rgba(254, 128, 25, 0.46) 69.11%);
  border: solid #F8CBA5;
  border-radius: 20px;
  font-size: 25px;
  font-weight: bolder;
  font-family: 'JetBrains Mono', monospace;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  /* Add transition effect */
}

.hire-me-button:hover {
  background: linear-gradient(89.94deg, rgba(255, 160, 122, 0.8) 49.81%, rgba(255, 99, 71, 0.8) 69.11%);
  /* Change background color on hover */
  transform: scale(1.1);
  /* Scale up the button slightly on hover */
}

.hire-me-button:active {
  background: linear-gradient(89.94deg, rgba(255, 69, 0, 0.8) 49.81%, rgba(255, 20, 147, 0.8) 69.11%);
  /* Change background color when clicked */
  transform: scale(1);
  /* Reset scale when clicked */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  /* Add shadow when clicked */
}

.resume-button {
  width: 130px;
  height: 50px;
  margin-left: 3vw;
  background-color: #F8CBA5;
  border: solid #F8CBA5;
  border-radius: 20px;
  font-size: 25px;
  font-weight: bolder;
  font-family: 'JetBrains Mono', monospace;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  /* Add transition effect */
}

.resume-button:hover {
  background-color: #FFA07A;
  /* Change background color on hover */
  transform: scale(1.1);
  /* Scale up the button slightly on hover */
}

.resume-button:active {
  background-color: #E9967A;
  /* Change background color when clicked */
  transform: scale(1);
  /* Reset scale when clicked */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  /* Add shadow when clicked */
}





.Logo {
  font-weight: 600;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 30px;
}
.h4{
  margin-right: 0;
}

a {
  text-decoration: none;
  font-style: sansita;
  color: black;
}

a:hover {

  color: #F8CBA5;
  background-color: transparent;
  text-decoration: solid;
}

.button {
  height: 40px;
  width: 100px;
  background-color: #F8CBA5;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: initial;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 1px 2px;
  transition-duration: 0.1s;
  cursor: pointer;
}

.button1 {
  text-align: bottom;
  background-color: #F8CBA5;
  color: black;
  border: 2px solid white;
}

.button1:hover {
  background-color: black;
  color: white;
}

/* Beginning of project section */
.portfolio {
  background-color: #F8CBA5;
  width: 80vw;
  padding: 20px;
  margin: 20px auto;
  border-radius: 30px;
  margin: 20px 50px;
}

.portfolioTitle {
  text-align: center;
}

.project {
  background-color: #FBDBBF;
  border-radius: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  height: 120px;
  width: 70vw;
  margin: 25px auto;
  align-items: center;
  font-size: 30px;
}

.projectname {
  background-color: #f7c59a;
  padding: 10px;
  height: max-content;
  margin: 0 30px;
  text-align: center;
  border-radius: 10px;
}

.images {
  display: flex;
}


.imageContainer{
  display: flex;
  width: max-content;
  position: inherit;
}

.projectLink{
  margin: 0 20px;
  display: flex;
  align-items: center;
  background-color: #f7c59a;
  width: 45px;
  height: 45px;
  border-radius: 30%;
  font-size: 25px;
  padding: 0 1rem 0 0;
}

.link{
  padding: 10px;
}

.image {
  width: 80px;
  height: 80px;
  border-radius: 5px;
}

.more{
  position: relative;
  left: 40%;
  height: max-content;
}

.projectsButton{
  height: 60px;
  width: 200px;
  font-size: 30px;
  border: none;
  border-radius: 20px;
  text-align: center;
  background: linear-gradient(89.94deg, rgba(235, 157, 93, 0.46) 49.81%, rgba(254, 128, 25, 0.46) 69.11%);
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;

}

.projectsButton:hover{
  transform: scale(1.2);
  background-color: #f3b882;;
}

/* Beginning of skills section */

.skillTitle {
  text-align: center;
}

.skills {
  background-color: #F8CBA5;
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  width: 80%;
  border-radius: 30px;
  margin: 20px 50px;

}

.skills-arrange {
  display: flex;
  flex-direction: row;
  width: 40vw;
  align-items: flex-start;

}

.iconContainer {
  margin-left: 35%;
  width: auto;
  height: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.icon {
  font-size: 50px;
  width: 10vw;
}

.iconContainer p {
  width: 10vw;
}

.mainContainer {
  position: relative;
  display: flex;
  flex-direction: column;
}


/* Beginning of contact me section */
.contact-me {
  background: linear-gradient(60deg, #f8ba84 49.81%, #F8CBA5 69.11%);
  position: relative;
  width: 80%;
  border-radius: 100px 100px 0 0;
  left: 2%;
  padding: 0 30px;
  height: fit-content;
}

.contactHead {
  padding: 20px;
  text-align: center;
  font-weight: 600;
}

.contactList h4 {
  font-weight: 800;
  margin-left: 10%;
  width: 40vw;
}

.contactList {
  margin-left: 100px;
  
}

.list {
  display: flex;
  justify-content: space-around;
  width: 10vw;
}


.contacts{
  height: max-content;
  width: 30%;
}

.contactdiv {
  display: flex;
  align-items: center;
}

.contactdiv p {
  margin-left: 20px;
}

.input form {
  display: flex;
  flex-direction: column;
  position: relative;
  right: 100px;
  top: -30px;
}

input {
  margin: 10px 0;
  height: 30px;
  width: 60vw;
  border: none;
  border-radius: 10px;
}

.sendMessage {
  margin: 10px 5px;
  height: 40px;
  width: 25vh;
}

button{
  margin: 10px 30px;
  height: 30px;
  width: 20vh;
  border: none;
  border-radius: 10px;
  font-weight: 700;
}

.message {
  height: 70px;
}

.footer {
  width: 70%;
  position: relative;
  left: 20%;
}

.socials {
  height: max-content;
}

.social {
  font-size: 35px;
  padding: 0.5rem 1rem;
  position: relative;
  left: 10%;
  margin-left: 30px;
}

.tag {
  padding: 0.5rem 1rem;
  position: relative;
  left: 20%;
  margin-left: 30px;
}



@media only screen and (max-width: 1200px){

  body{
    width: 100vw;
  }

  .contactList {
    width: 100vh;
    border-radius: 100px 100px 0 0;
    padding: 5px 10px;
    height: max-content;
  }

/* Portfolio section */
  .projectname{
    font-size: 17px;
  }

  .contactsection{
    width: 100vw;
    flex-direction: column;
  }

  .contact-me{
    flex-direction: column;
  }

  .list{
    flex-direction: column;
  }

  .input{
    margin-top: 30px;
  }


}


@media only screen and (max-width: 500px){
/* Small screen portfolio section */
  .portfolio{
    font-size: 17px;
    width: 80vw;
    margin-left: 5vw;
  }

  .project{
    margin: 10px auto;
    width: 80vw;
  }

  .projectLink{
    height: 16px;
    width: 16px;
    font-size: 15px;
    margin: 5px 5px 0 5px;
  }

  .projectname{
    font-size: 16px;
    margin: 0 15px;
  }

  .more{
    left: 25px;
  }

  .image{
    width: 50px;
    height: 50px;
  }

  /* contact section */

  .contact-me{
    width: 80vw;
    border-radius: 50px 50px 0 0;
  }

  .contactdiv p{
    margin-left: 10px;
  }

  .list{
    flex-direction: column;
  }

  .input{
    margin-top: 20px;
  }

  .footer{
    left: 0;
  }

  .social{
    font-size: 17px;
    padding: 0.5rem 0.5rem;
  }

  /* skills section */
  .skills{
    font-size: 10px;
    width:80vw;
  }

  /* navbar section */
  .navBar{
    font-size:  12px;
    text-size-adjust: 5px;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0px;
  }

  .contactList {
    width: 5vw;
  }
}
