body {
  background-color: #FFFFFF;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: black;
  min-height: auto;
  display: grid;
  flex-direction: column;



}

.contact-me{
  background-color: rgb(203, 143, 68);
 width: 300px;
  margin: auto;
}

.navBar {
  background-color: #FFFFFF;
  height: 60px;
  width: 100%;
  padding: 5px;
  display: flex;
  justify-content: space-evenly;
  position: relative;
  top: 0;
  left: 0;
}

.navLinks {
  display: flex;
}

.link {
  margin: 10px;
  padding: 10px;
}
.Logo{
  font-weight: 600;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 30px;
}
a{
  text-decoration: none;
  font-style: sansita;
  color: black;
}
a:hover{

  color: #F8CBA5;
  background-color: transparent;
  text-decoration: solid;
}
.button {
  height: 40px;
  width: 100px;
  background-color: #F8CBA5; 
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: initial;
  text-decoration: none;
  display:inline-block;
  font-size: 12px;
  margin: 1px 2px;
  transition-duration: 0.1s;
  cursor: pointer;
}
.button1 {
  text-align: bottom;
  background-color: #F8CBA5; 
  color: black; 
  border: 2px solid white;
}

.button1:hover {
  background-color:black;
  color: white;
}

