

/* DEFAULT SPECIFICATION */
:root {
    --max-width: 1200px;
  }
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  a {
    text-decoration: none;
  }
  body {
    background-color: #074C59;
  }
  
  /*NAVBAR STYLING */
  
  nav {
    width: 95%;
    position: relative;
    background-color: #B3D8D6;
    z-index: 99;
    border-radius: 20px;
    top: 2%;
    left: 2%;
  }
  .nav_content {
    max-width: var(--max-width);
    margin: auto;
    padding: 1.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'JetBrains Mono', monospace;
    color: #ffffff;
    font-size: 30px;
  }
  nav .checkbox {
    display: none;
  }
  nav input {
    display: none;
  }
  nav .checkbox i {
    font-size: 2rem;
    color: #ffffff;
    cursor: pointer;
  }
  .menu {
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
    transition: left 0.3s;
  }
  .menu li a {
    padding: 0.5rem 1rem;
    border: 2px solid transparent;
    text-decoration: none;
    font-weight: 600;
    color: var(--text-dark);
    transition: 0.3s;
  }
  .menu li a:hover {
      background-color: #4c9e9e;
      border-radius: 5px;
      transition: 0.3s ease;
  }

  /* ABOUT SECTION STYLING */
  
  .section {
    background-color: var(--extra-light);
  }

  .section_container {
    min-height: 40vh;
    max-width: var(--max-width);
    margin: auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
  }
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .title {
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 3rem;
    color: #ffffff;
    margin-bottom: 1rem;
  }
  .title span {
    font-weight: 600;
  }
  .about {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  text-align:justify;
  color: #FFFFFF;
  margin-bottom: 0px;
  }
  .action_btn button {
    transition: 0.3s;
    cursor: pointer;
  }
  
  /* HIRE ME BUTTON*/
  
  .hire_me {
      background-color: transparent;
      font-family: "JetBrains Mono", monospace;
      border-color : white;
      border-radius: 50px;
      color: white;
      padding: 7px 17px;
      text-align: center;
      display: inline-block;
      font-size: 20px;
      margin-top: 50px;
  }
  .hire_me:hover {
      background-color: #4c9e9e;
      border-radius: 5px;
      transition: 0.3s ease;
  }
  .image {
    display: grid;
    place-items: center;
  }
  .image img {
    width: min(20rem, 100%);
    border-radius: 100%;
  }
  .logo{
      max-width: var(--max-width);
      height: 50px;
      width: 50px;
  }

  /* CURVED LINE STYLING*/

  .curved-line-container {
    width: 100%;
    height: 100px;
    position: relative;
  }
  .curved-line {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
  
  /* SKILLS SECTION */

  .skills_container{
    max-width: var(--max-width);
    margin: auto;
    padding: 1rem;
    display: -ms-inline-grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
  }
  .my_skills{
    margin-bottom: 20px;
    width: 15%;
    max-width: var(--max-width);
    background-color: #B3D8D6;
    border-radius: 12px;
    height: 8%;
    color: #ffffff;
    font-family: "JetBrains Mono", monospace;
    text-align: center;
    padding: 10px;
    font-size: 30px;
  }
  .list_skills {
    width: auto;
    max-width: var(--max-width);
    min-height: 20vh;
    margin: auto;
    padding: 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    background-color: #B3D8D6;
    border-radius: 20px;
  }
  .skills {
    position: relative;
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 50px;
    color: #FFFFFF;
    list-style: decimal;
    padding: 0;
    margin: 0;
    position: relative;
    margin: auto;
    width: auto;
  }
  .skill-item {
    display: grid;
    grid-template-columns: 200px 1fr;
    align-items: center;
    margin: auto;
  }

  .skill-item a {
    margin-right: 1rem;
  }
  
  .level {
    width: 800px;
    height: 15px;
    min-width: 150px;
    background: #EBDBB2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    position: relative;
  }

  /* RESPONSIVENESS*/
  
  @media (max-width: 480px) {
    nav .checkbox {
      display: block;
      background-color: #B3D8D6;
    }
    .menu {
      position: absolute;
      width: 100%;
      height: calc(100vh - 85px);
      left: -100%;
      top: 85px;
      background-color: #074C59;
      flex-direction: column;
      justify-content: center;
      gap: 3rem;
    }
    nav #check:checked ~ .menu {
      left: 0;
    }
    .menu li a {
      font-size: 1.25rem;
    }
    .section_container {
      padding: 1rem 1rem 5rem 1rem;
      text-align: center;
      grid-template-columns: repeat(1, 1fr);
    }
    .image {
      grid-area: 1/1/2/2;
    }
    .action_btn {
      margin: auto;
    }
    .my_skills{
      width: 40%;
      font-size: 20PX;
    }
    .level {
      height: 5px;
      width: 150px;
    }
    .skill-item{
      grid-template-columns: 140px 1fr;
    }
    .list_skills{
       height: 40vh;
       padding: 1.5rem;
    }
    }
    .skills{
      font-size: 20px;
    }
    @media (max-width: 750px) {
      .level {
        max-width: 450px;
      }
    }
   @media (max-width:960px){
    .my_skills{
      width: 200px;
    }
    .skill-item{
      grid-template-columns: 150px  1fr;
    }
    .level{
      max-width: 490px;
    }
   }
   @media (min-width:960px) and  (max-width:1120px){
    .level{
      width: 600px;
    }
    .my_skills{
      width: 200px;
    }
   }


    /* Stanley Onyango */

/* Group 11 */
.ject {
  position: relative;
  width: 688.67px;
  height: 630px;
  }

  /* button for my project */
.proj {
padding: 20px;
text-align: center;
background: rgba(179, 216, 214, 0.41);
border-radius: 20px;
width: 280px;
height: 60px;
margin-bottom: 10px; /* reduce space between the heading and the list*/
}



/* MY PROJECTS */
.proj .txt{
margin: 0;
font-family: 'JetBrains Mono';
font-style: normal;
font-weight: 700;
font-size: 30px;
text-align: center;
color: #FFFFFF;
}



/* Project listing */
.namba{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 30px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  color: #FFFFFF;
  margin-top: 10px;
}


/* icon for each project*/
.namba-icone img{
width: 20px;
}

/* project description */
.namba-description {
  display: none;
  padding: 10px;
  border: 1px solid #ccc;
  margin: 5px 0;
  border-radius: 5px;
  background-color: #f9f9f9;
}

/* Resume button */
.cvitae {
width: 348.58px;
height: 77px;
background: rgba(179, 216, 214, 0.41);
border-radius: 20px;
display: flex;
align-items: center;
justify-content: center;
margin-top: 20px; /* Add margin-top to create space between the project list and the button */
}



/* Text and icon within the resume button */
.cvitae p {
    margin: 0;
    display: flex;
    align-items: center;
  }
  .cvitae img {
    margin-left: 10px;
    width: 20px; /* Adjust the size of the download icon */
  }

  /* section for contacts */
.last-sect{
position: relative;
width: 463px;
height: 131.01px;
margin-top: 30px;
}

/* TALK TO ME: text */
.last_sect .tt {
width: 262px;
height: 50px;
font-family: 'JetBrains Mono';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 40px;
text-align: center;
color: #e2ca8d;
}

/* button for the icons */
.icones-buton{
display: flex;
justify-content: center;
width: 463px;
height: 66.01px;
color: #527d7b
}

.icone {
    width: 50px;
    height: 50px;
    margin: 10px;
    transition: transform 0.3s ease;
}

.icone:hover {
    transform: scale(1.2);
  }