
    /* Stanley Onyango */
    body {
position: absolute;
width: 750px;
height: 2318px;

background: #074C59;

  }
/* Group 11 */
.ject {
  position: absolute;
  width: 688.67px;
  height: 630px;
  left: 17px;
  top: 1120px;
  }

  /* button for my project */
.proj {
padding: 20px;
text-align: center;
background: rgba(179, 216, 214, 0.41);
border-radius: 20px;
position: absolute;
width: 380px;
height: 78px;
background: rgba(179, 216, 214, 0.41);
border-radius: 20px;

}



/* MY PROJECTS */
.proj .txt{
margin: 0;
font-family: 'JetBrains Mono';
font-style: normal;
font-weight: 700;
font-size: 30px;
text-align: center;

color: #FFFFFF;

}

ul {
  list-style-type: none;
  padding: 0;
  margin: 100px 0 0 0;
  position: relative; 
}

li {
  border: 1px solid #ccc;
  margin: 5px 0;
  border-radius: 5px;
  overflow: hidden;
}

/* PROJECT listing */
.namba{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  color: #FFFFFF;
  /* PROJECT 2 */
}


/* mdi:arrow-up-drop-circle-outline */
.namba icone{
font-size: 14px;
}


.namba-description {
  display: none;
  padding: 10px;
  border: 1px solid #ccc;
  margin: 5px 0;
  border-radius: 5px;
  background-color: #f9f9f9;
}

