/* start of project section */
.pro {
    font-family: "JetBrains Mono", monospace;
    color:white;
    margin-top: 0;
}
.project {
    text-align: center;
    background-color: #085E72;
    position: absolute;
    display:grid;
    justify-content: center;
    height: 1250px;
    width: 100vw;
    align-items: center;
    font-size: 30px;
  }
  .projectbackground {
  background-image: url('./Assets/background.png' );
  width:80vw;
  background-repeat: no-repeat;
  height:800px;
  margin: 10;
  }
  
  .projectname {
    padding: 10px;
    height: max-content;
    margin: 0 30px;
    text-align: center;
    border-radius: 10px;
  }
  
  .images {
    display: flex;
  }
  
  .imageContainer{
    display: flex;
    width: max-content;
    position: inherit;
  }
  
  
  .imageContainer{
    display: flex;
    width: max-content;
    position: inherit;
  }
  
  .projectLink{
    margin: 0 20px;
    display: flex;
    align-items: center;
    background-color: #085E72;
    width: 45px;
    height: 45px;
    border-radius: 30%;
    font-size: 25px;
    padding: 0 1rem 0 0;
  
  }
  
  .link{
    padding: 10px;
  }
  
  .more{
    position: relative;
    left: 40%;
    height: max-content;
  }
  
  .projectsButton{
    height: 60px;
    width: 200px;
    font-size: 30px;
    border: none;
    border-radius: 20px;
    text-align: center;
    background: linear-gradient(89.94deg, rgba(112, 93, 235, 0.46) 49.81%, rgba(25, 185, 254, 0.46) 69.11%);
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  
  }
  
  .projectsButton:hover{
    transform: scale(1.2);
    background-color: #cf82f3;;
  }
  /* begining of contact me part */
  .image{
   size: auto;
   width: inherit;

  }
  .rectangle {
    background-color: #085E72;

  }
  table{

align-items: center;
  }
  table, tr, td{
    align-items: center;
    width: 20vw;
  }
   td {
    color: white;
    background-color: #0DB5BA;
    border: 1px solid white;
    border-radius: 10px;
    border-collapse: collapse;
   
  }
  td, table{
    font-size: smaller;
    border-spacing: 50px;
    align-items: center;
    
  }
  .Tablehover{
    transform: scale(1.2);
    background-color: #82e0f3;
  }
  .vector{
    background-color: #085E72;
    color: white;
    border-radius: 40%;
  }
  .align-horizontal 
  { display: flex;   align-items: center; /* Align items vertically in the middle */
}
   .align-horizontal img
    {   margin-right: 10px; /* Space between the image and the text */
     }