/* Body Section */
:root{
    --max-width: 1000px;
}

body{
    background-color: #282828;
    color: #EBDBB2;
    font-family: "Fira Code", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

/* beginning Navbar Section */
.Navbar {
    background-color: #1D2021;
    position: 100%;
    width: 100%;
    height: 53px;
    left: 0px;
    top: 0px;
}

.Nav_Content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'JetBrains Mono', monospace;
    color: #EBDBB2;
    font-size: 20px;
    padding: 0 5%;
}

.Left_Nav, .Right_Nav {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.Left_Nav {
    margin-right: auto;
}

.Logo {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.Search {
    width: auto;
    height: 30px;
    background: #282828;
    border-radius: 8px;
    border-style: none;
    color:#ebd7a7;
}

.Cursor{
    background-color: #EBDBB2;
    width: 16px;
    height: 20px;
}


.Menu_Content {
    display: flex;
    align-items: center;
    gap: 2rem;
    list-style: none;
}

.menu_item{
    text-decoration: none;
    color: #EBDBB2;
}

.menu-item-link:hover{
    background-color: #2b2727;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    text-align: center;

}

.Theme {
    background-color: transparent;
    border: none;
}

.T_Img {
    height: 20px;
    width: 20px;
}
.Nav_Content .checkbox {
    display: none;
    cursor: pointer;
}
.Nav_Content .Check_Box {
    display: none;
}
.Nav_Content .checkbox i {
    font-size: 2rem;
    color: #ffffff;
    cursor: pointer;
}
.bar1, .bar2, .bar3{
    height: 3px;
    width: 25px;
    margin: 7px;
    background: #fff;
    border-radius: 5px;
}
.change .bar1{transform: rotate(-45deg) translate(-5px, 8px);
transition: 0.4s;
}
.change .bar2{opacity: 0;}
.change .bar3{transform: rotate(45deg) translate(-5px, -9px);
transition: 0.4s;
}


/* beginning of the body section */
.body-container{
    position: relative;
    top: 8vh;
    display: flex;
    justify-content: space-around;
}

/* beginning of the left-section and about me sections */
.left-section{
    height: 70vh;
    box-shadow: 1px #EBDBB2;
    width: 20vw;
    margin-right: 60px;
    position: sticky;
    top: 2vh;
    max-width: var(--max-width);
}

.about-section{
    position: relative;
    text-align: center;
}

.profile{
    height: 280px;
    width: 280px;
}

.profileImage{
    width: 250px;
    height: 250px;
    position: relative;
    left: 3vw;
}

.hireButton{
    background-color: #83A598;
    color: #22211d;
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 15px;
    font-size: large;
    margin-top: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.hireButton:hover{
    transform: scale(1.3);
    background-color: #98b8ac;
}

.socials{
    margin-top: 40px;
    font-size: 25px;
    border-top: 0.5px solid #EBDBB2;
    padding: 15px 0;
}

.social{
    padding: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.social:hover{
    transform: scale(1.3);
    cursor: pointer;
}

/* beginning of the right-section */
.right-section{
    width: 60vw;
    font-family: "Inria Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 22px;
    max-width: var(--max-width);
}

.heading{
    color: #83A598;
    border-bottom: 0.1px solid #83A598;
    width: 75%;
}

.location{
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.projectTitle{
    color: #B16286;
}

.project, .project1{
    padding: 30px 0;

}

.project{
    border-top: 0.05px solid #EBDBB2;
}

a{
    text-decoration: none;
}

.coloured{
    color: #85A598;
    transition:  transform 0.3s ease;
    cursor: pointer;
}

.coloured:hover{
    font-size: 1.5rem;
}

/* Footer section */
.footer{
    width: 100vw;
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    text-align: center;
    font-size: 13px;
}
/* Phone Responsiveness */

@media only screen and (max-width: 768px) {
    /* Beginning of Navbar */
    .Navbar .checkbox{
        display: block;
    }
    .L_Text{
        display: none;
    }

    .Menu_Content{
        display: none;
    }

    /* body section */

    body{
        font-weight: 300;
        font-size: 17px;
    }
    body.no-scroll {
        overflow: hidden;
    }
    .body-container{
        width: 100vw;
        margin: 0 auto;
        font-size: 14px;
    }

            /* left-section css */
  
    .left-section{
        display: none;
        position: fixed;
        background-color: #1D2021;
        width: max-content;
        padding: 20px;
        height: 90vh;
        margin-top: 5.6%;
        margin-left: 20.7%;
        left: 0;
        z-index: 1000;
        transition: transform 0.3s ease, left 0.3s ease-in-out;
    }
    /* css styling when menu Icon is clicked */
    .left-section.active {
        display: block;
        left: 0;
        transform: translateX(0);
    }

    .about-content{
        padding: 20px;
    }
    .profile{
        height: 120px;
        width: 120px;
        margin: 20% 30%;
    }

    .profileImage{
        height: 200px;
        width: 200px;
    }

    .socials{
        position: relative;
        bottom: -20vh;
        width: 70%;
        margin: 0 auto;
    }



            /* right-section styling */
    .right-section{
        width: 100vw;
        font-size: 17px;
    }

    .heading{
        width: 60%;
    }

    .footer{
        position: absolute;
        bottom: 0;
    }
}