/* Designing the body of the portfdolio */
body{
    background-color: #000000;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* color: white; */
    min-height: 100vh;
    display: flex; /*display navbar content in column direction*/
    flex-direction: column;
    color: #f7e9e9;
    overflow-x: hidden;  
}

.navBar{
    background-color: #131212;
    width: 100%;
    height: 70px;
    padding: 5px;
    font-size: 20px;
    display: flex; /*arrange containers in row direction*/
    justify-content: space-between;
    position: absolute; /*Positioning navbar*/
    top: 0;
    left: 0;
    right: 0;
}

.navLinks{
    display: flex;
}

.Logo{
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 30px;
    /* border-radius: 20px; */
}

h4{
    position: relative;
    top: -10px;
}

.link{
    margin: 10px;
    padding: 10px;
}

.link:hover{
    color: #b89797;
    cursor: pointer;
    background-color: #292727;
    border-radius: 20px;
}

/* Designing the about content */
.aboutContent{
    margin-top: 90px;
}

.mainContainer{
    display: flex;
    position: relative; /*Positioning the content accordingly to the page's width*/
    width: 70%;
    height:100%;
    left: 0;
    justify-content: space-around;
    font-family: "Titillium Web", sans-serif; /*embedded font for the content in the index.html file, header section*/
    font-weight: 200;
    font-style: normal;
}

.content{
    width: 50%;
    margin-left: 20px;
    font-size: 25px;
}

.resume{
    height: 40px;
    background-color: #49d6c6;
    border: 0;
    border-radius: 10px;
    text-decoration:double;
    color: #131212;
}

.resume:hover{
    cursor: pointer;
    background-color: #131212;
    color:white;

}

.strongText{
    color: #21ECD3;
    font-size: 20px;
}

.image{
    height: 100%;
    position:relative;
    top:30px;
    left: 0;
}

.userImage{
    height: 100%;
    border-radius: 50%; /*make image rounded*/
}

/* Skills Content */

.Skills{
    width: 95%;
    background-color: #131212;
    position: relative;
    left: 1%;
    /*leaving margin from the left end */
    margin-bottom: 30px;
    border-radius: 20px;
    padding-left: 40px;
}

.SkillsContainer{
    margin-bottom: 20px;
}

.skill{
    display: flex;
    font-size: 25px;
    margin: 10px;
    align-items: center;
}

.title{
    float: left;
    width: 15%;
    margin-bottom: 5px;
    font-family: "Titillium Web", sans-serif; /*embedded font for the content in the index.html file, header section*/
    font-weight: 500;
    font-style: normal;
}

.skillColor{
    background-color: #666262;
    width: 70%;
    height: 15px;
    border-radius: 20px;
}

/* the percentages of the different skills in color codes */

.percentage1{
    background-color: rgb(219, 76, 25);
    width: 70%;
    height: 15px;
    border-radius: 20px;
    display: flex;
}

.percentage2{
    background-color:#36cebc;
    width: 90%;
    height: 15px;
    border-radius: 20px;
    display: flex;
}

.percentage3{
    background-color:rgb(56, 145, 56);
    width: 80%;
    height: 15px;
    border-radius: 20px;
    display: flex;
}

.percentage4{
    background-color:rgb(226, 226, 44);
    width: 75%;
    height: 15px;
    border-radius: 20px;
    display: flex;
}


/* Footer content */
.Footer {
    width: 100%;
    text-align: center;
    margin-top: auto;
    background-color: #0f0f0f;
    background-image: url("./assets/Rectangle\ 61.png");
    background-repeat: repeat-x; /* Repeat the wave horizontally */
    background-size: cover;
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: column; /* Align items vertically */
    align-items: flex-start; /* Align items to the start (left) */
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.Footer .copyright {
    width: 100%; /* Make sure the div takes up the full width */
    text-align: center; /* Center align the copyright text */
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


#footer-email, #footer-location {
    background-color: #00000000; /* background color for buttons. Transparent */
    color: #fff;
    border: none;
    cursor: pointer;
    margin-bottom: 10px; /* margin between buttons */
    padding: 10px 20px; /* padding for buttons */
    border-radius: 5px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#footer-phone {
    background-color: #00000000; /* background color for buttons. Transparent */
    color: #fff;
    border: none;
    cursor: pointer;
    margin-bottom: 10px; /* margin between buttons */
    padding: 10px 20px; /* padding for buttons */
    border-radius: 5px;
    display: block;
}

.button-container {
    margin-top: 10px; /* margin to separate buttons from the footer content */
}

/* Style for individual buttons within the button container */
.button-container button {
    margin-right: 10px; /* Example margin between buttons */
    border-radius: 5px;
}

.icon-container {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.icon-container i {
    margin-left: 10px;
    font-size: 24px;
    color: #fff;
}
