/* Designing the body of the portfdolio */
body{
    background-color: #000000;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    min-height: 100vh;
    display: flex; /*display navbar content in column direction*/
    flex-direction: column;
    color: #f7e9e9;
    overflow-x: hidden;  
}

.navBar{
    background-color: #131212;
    width: 100%;
    height: 70px;
    padding: 5px;
    font-size: 20px;
    display: flex; /*arrange containers in row direction*/
    justify-content: space-between;
    position: absolute; /*Positioning navbar*/
    top: 0;
    left: 0;
    right: 0;
}

.navLinks{
    display: flex;
}

.Logo{
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 30px;
    /* border-radius: 20px; */
}

h4{
    position: relative;
    top: -10px;
}

.link{
    margin: 10px;
    padding: 10px;
}

.link:hover{
    color: #b89797;
    cursor: pointer;
    background-color: #292727;
    border-radius: 20px;
}

/* Designing the about content */
.aboutContent{
    margin-top: 90px;
}

.mainContainer{
    display: flex;
    position: relative; /*Positioning the content accordingly to the page's width*/
    width: 70%;
    height:100%;
    left: 0;
    justify-content: space-around;
    font-family: "Titillium Web", sans-serif; /*embedded font for the content in the index.html file, header section*/
    font-weight: 200;
    font-style: normal;
}

.content{
    width: 50%;
    margin-left: 20px;
    font-size: 25px;
}

.resume{
    height: 40px;
    background-color: #49d6c6;
    border: 0;
    border-radius: 10px;
    text-decoration:double;
    color: #131212;
}

.resume:hover{
    cursor: pointer;
    background-color: #131212;
    color:white;

}

.strongText{
    color: #21ECD3;
    font-size: 20px;
}

.image{
    height: 100%;
    position:relative;
    top:30px;
    left: 0;
}

.userImage{
    height: 100%;
    border-radius: 50%; /*make image rounded*/
}

/* Projects section */
.Projects {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
}

.imgContainer {
    width: 100%;
    height: 600px;
    position: absolute;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}

.slide_div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 30px 0 30px;
}

.img {
    position: relative;
    height: 370px;
    width: 240px;
    transition: 0.7s;
    border-radius: 20px;
    
}

.button {
   position: absolute;
   width: 240px;
   height: 370px;
   transition: 0.7s;
   border-radius: 20px;
}

.button:hover {
    background-color: #0bffe26c;
}

#slider1:target ~ .imgContainer #img1,
#slider1:target ~.imgContainer #button1 {
    width: 390px;
    height: 600px;
    background-color: transparent;
    
}

#slider2:target ~ .imgContainer #img2,
#slider2:target ~.imgContainer #button2 {
    width: 390px;
    height: 600px;
    background-color: transparent;
    
}

#slider3:target ~ .imgContainer #img3,
#slider3:target ~.imgContainer #button3 {
    width: 390px;
    height: 600px;
    background-color: transparent;
    
}

#slider4:target ~ .imgContainer #img4,
#slider4:target ~.imgContainer #button4 {
    width: 390px;
    height: 600px;
    background-color: transparent;
    
}

#slider5:target ~ .imgContainer #img5,
#slider5:target ~.imgContainer #button5 {
    width: 390px;
    height: 600px;
    background-color: transparent;
    
}

#slider6:target ~ .imgContainer #img6,
#slider6:target ~.imgContainer #button6 {
    width: 390px;
    height: 600px;
    background-color: transparent;
    
}

#slider7:target ~ .imgContainer #img7,
#slider7:target ~.imgContainer #button7 {
    width: 390px;
    height: 600px;
    background-color: transparent;
    
}

#slider1:target ~ .imgContainer {
    left: 60%;
}

#slider2:target ~ .imgContainer {
    left: 40%;
}

#slider3:target ~ .imgContainer {
    left: 20%;
}

#slider4:target ~ .imgContainer {
    left: 0%;
}

#slider5:target ~ .imgContainer {
    left: -20%;
}

#slider6:target ~ .imgContainer {
    left: -40%;
}

#slider7:target ~ .imgContainer {
    left: -60%;
}


/* Footer content */
.Footer {
    width: 100%;
    text-align: center;
    margin-top: auto;
    background-color: #000;
    background-image: url("./assets/Rectangle\ 61.png");
    background-repeat: repeat-x; /* Repeat the wave horizontally */
    background-size: cover;
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: column; /* Align items vertically */
    align-items: flex-start; /* Align items to the start (left) */
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.Footer .copyright {
    width: 100%; /* Make sure the div takes up the full width */
    text-align: center; /* Center align the copyright text */
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


#footer-email, #footer-location {
    background-color: #00000000; /* background color for buttons. Transparent */
    color: #fff;
    border: none;
    cursor: pointer;
    margin-bottom: 10px; /* margin between buttons */
    padding: 10px 20px; /* padding for buttons */
    border-radius: 5px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#footer-phone {
    background-color: #00000000; /* background color for buttons. Transparent */
    color: #fff;
    border: none;
    cursor: pointer;
    margin-bottom: 10px; /* margin between buttons */
    padding: 10px 20px; /* padding for buttons */
    border-radius: 5px;
    display: block;
}

.button-container {
    margin-top: 10px; /* margin to separate buttons from the footer content */
}

/* Style for individual buttons within the button container */
.button-container button {
    margin-right: 10px; /* Example margin between buttons */
    border-radius: 5px;
}

.icon-container {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    margin-right: 5vh;
}

.icon-container i {
    margin-left: 10px;
    font-size: 24px;
    color: #fff;
}
