/* Global CSS variables */
:root {
    --main-color: #1D1B1A; /* Main background color */
    --main-text-color: #F8CBA5; /* Main text color */
    --secondary-color: #FE8019; /* Secondary color */
    --sidebar-color: #252221;
}

/* Styling for the body */
body {
    background-color: var(--main-color); /* Set background color */
    color: var(--main-text-color); /* Set text color */

}

/* Styling for the navigation bar */
.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-family: 'Inika';

}

/* Styling for the logo at the top */
.mwLogo {
    cursor: pointer;

}

/* Styling for the menu list */
.menuBar ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
    counter-reset: item; /* Reset the counter for numbering */

}

/* Styling for each menu item */
.menuBar ol li {
    display: inline-block; /* Display menu items horizontally */
    margin-right: 20px;
    color: var(--secondary-color); /* Set text color */
    cursor: pointer;
    position: relative; /* Set position to relative for dot */

}

/* Styling for the dot before each menu item */
.menuBar ol li:before {
    content: counter(item) ". "; /* Use the counter for numbering and add a dot */
    counter-increment: item;
    margin-right: 5px;
    position: absolute; /* Position the dot absolutely */
    left: -15px; /* Adjust the position of the dot */

  }

  /* Styling for the resume button */
.resumeContainer button {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: var(--main-color); /* Set background color */
    color: var(--secondary-color); /* Set text color */
    cursor: pointer;
    outline: 2px solid ; /* Add outline */
    font-family: 'Inika';
    
}

/* Styling for the resume button on hover */
.resumeContainer button:hover {
    background-color: var(--secondary-color); /* Change background color on hover */
    color: var(--main-color); /* Change text color on hover */

}

/* Styling for the resume button in mobile */
.resumeContainerMobile {
    display: none; /* Initially hide the resume button in desktop */
}

/* Sidebar Toggle styles */
.sidebarToggle {
    display: none;
    padding: 10px;
}

.sidebarToggle span {
    display: block;
    width: 30px;
    height: 5px;
    background-color: var(--secondary-color);
    margin: 5px 0;
    border-radius: 3px;
}

.closeButton {
    display: none;
}

.menuBar.show .closeButton {
    display: block;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
    .navBar {
        flex-direction: row;
    }

    .mwLogo {
        margin-left: -10vw;
    }
    /* styling for the sidebar menu */
    .menuBar {
        display: none; /* initially hide */
        position: fixed; /* Fix the position of the sidebar */
        top: 0;
        right: -300px; /* Initially hide it off the right side */
        width: 140vw; /* Set the width of the sidebar */
        height: 100%; /* Set the height to cover the entire viewport */
        background-color: var(--sidebar-color);
        transition: left 0.3 ease; /* Add a transition effect for smooth movement */
        z-index: 1000; /* Ensure it appears above other content */
    }

    .menuBar.show {
        display: block;
        right: 0;
    }

    /* Styling for the menu list*/
    .menuBar ol {
        list-style-type: none;
        margin: 30vh 0;
        padding: 0 30vw;
        counter-reset: item;
        display: flex;
        flex-direction: column;
        margin-bottom: 5vh;
        margin-top: 15vh;
    }

    /* Styling for each menu item */
    .menuBar ol li {
        color: var(--secondary-color);
        cursor: pointer;
        position: relative;
        margin: 25px 0;
        padding: 10px;
        margin-bottom: 5vh;
    }

    /* Styling for the dot before each menu item*/
    .menubar ol li:before {
        content: counter(item) ". ";
        counter-increment: item;
        margin-right: 5px;
    }

    /* Styling for the close button */
    .closeButton {
        position: absolute;
        top: 1%;
        right: 45%;
        padding: 10px; /* Add padding for better appearance */
        background-color: var(--sidebar-color); /* Set background color */
        border: 2px solid var(--sidebar-color); /* Set border */
        color: var(--secondary-color); /* Set text color */
        font-size: 20px;
        cursor: pointer;
        transition: background-color 0.3s, border-color 0.3s; /* Add transition effect */
    }

    /* Hover effect */
    .closeButton:hover {
        color: var(--main-text-color); /* Change text color on hover */
    }

    .resumeContainer {
        display: none;
    }

    .sidebarToggle {
        display: block;
        cursor: pointer;
    }

    /* hide the resume button in desktop */
    .resumeContainer {
        display: none;
    }

    /* show the resume button in mobile */
    .resumeContainerMobile {
        display: block;
        
    }

    .resumeContainerMobile button {
        padding: 10px 20px;
        border: none;
        border-radius: 20px;
        background-color: var(--sidebar-color); /* Set background color */
        color: var(--secondary-color); /* Set text color */
        cursor: pointer;
        outline: 2px solid ; /* Add outline */
        font-family: 'Inika';
        margin-left: 27vw;
        
    }

    .resumeContainerMobile button:hover {
        background-color: var(--secondary-color); /* Set background color */
        color: var(--sidebar-color); /* Set text color */
                
    }

}

/*footer section styling starts here*/
.footer-section{

/* Developed and Built by Bennavi Softsolution */

position: absolute;
width: 529px;
height: 30px;
left: 35%;
top: 2874px;

font-family: 'Inria Sans';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 30px;
/* identical to box height */

color: rgba(248, 203, 165, 0.5);


}

/*footer section styling ends here*/

/*contact me section starts here*/

.contact-section{

/* Frame 10 */
/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 26px;

position: absolute;
width: 50px;
height: 278px;
left: 42px;
top: 2596px;


}




/*contact me section ends here*/