
/*footer section styling starts here*/
.footer-section{

/* Developed and Built by Bennavi Softsolution */

position: absolute;
width: 529px;
height: 30px;
left: 35%;
top: 2874px;

font-family: 'Inria Sans';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 30px;
/* identical to box height */

color: rgba(248, 203, 165, 0.5);


}

/*footer section styling ends here*/

/*contact me section starts here*/

.contact-section{



    
}




/*contact me section ends here*/